*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: #f2f2f2;
  margin: 0;
}

h1 {
  font-weight: 200;
  font-family: Verdana;
  text-align: center;
  font-size: 37px;
  text-shadow: 0 0.2px 0.3px black;
  margin-top: 60px;
}

/* Search field */
.pedal-search {
  text-align: center;
  margin-bottom: 35px;
}

.pedal-search__input {
  font-size: 1.2em;
  padding: 10px 15px;
  border: 1px solid #aaa;
  border-radius: 4px;
  width: 300px;
  background-image: url("../svg/magnifier.svg");
  background-repeat: no-repeat;
  background-position: 95% 50%;
}

.pedal-search__input:active,
.pedal-search__input:focus {
  outline: none;
}

/* Selected pedals */
.selected-pedals {
  background-color: #935959;
  min-height: 80px;
}

.selected-pedal {
  font-family: Verdana;
  font-size: 0.9em;
  background: #355858;
  color: white;
  border-radius: 5px;
  padding: 11px;
  display: inline-block;
  margin: 15px;
  height: 40px;
}

.selected-pedal__remove {
  margin-left: 8px;
  background-color: transparent;
  border: none;
  color: white;
  background-image: url("../svg/cross.svg");
  background-repeat: no-repeat;
  background-size: 15px;
  padding: 9px;
  position: relative;
  bottom: 3px;
  cursor: pointer;
}
